
CREATE SEQUENCE  "TASKMANAGER"."TSK_RAW_RECORD_SEQ"  MINVALUE 1 MAXVALUE 999999999999999999999999999 INCREMENT BY 1 START WITH 3487129 CACHE 20 NOORDER  NOCYCLE  NOKEEP  NOSCALE  GLOBAL ;
GRANT SELECT ON "TASKMANAGER"."TSK_RAW_RECORD_SEQ" TO "LIQUI_DML_ROLE";
ALTER TABLE TASKMANAGER.tsk_raw_record modify ID DROP IDENTITY;
