BEGIN

INSERT INTO TASKMANAGER.TSK_SCHEMA_REGISTRY (NAME,
                                             DESCRIPTION,
                                             "SCHEMA")
         VALUES (
                    'EXTRACT-PREIDENTIFICATION',
                    'extractPreidentification',
     '{"$schema":"http://json-schema.org/draft-07/schema#","type":"object","properties":{"seqid":{"type":"string"},"origin":{"type":"string"},"msisdn":{"type":"string"},"dn_num":{"type":["string","null"]},"imsi":{"type":"string"},"passportno":{"type":["string","null"]},"lastname":{"type":["string","null"]},"firstname":{"type":["string","null"]},"preidentif_date":{"type":"string","description":"Format YYYYMMDDHH24MISS"},"ac_name":{"type":["string","null"]},"iv_invdate":{"type":["string","null"],"description":"Format YYYYMMDDHH24MISS"},"username":{"type":["string","null"]},"po_recdate":{"type":["string","null"],"description":"Format YYYYMMDDHH24MISS"}},"required":["seqid","origin","msisdn","imsi","preidentif_date"], "additionalProperties": false}');




INSERT INTO TASKMANAGER.TSK_TASK_TYPE (TSK_SCHEMA_REGISTRY_ID,
                                       PROCESS_BUSINESS_KEY,
                                       TASK_DESCRIPTION,
                                       BUCKET_NAME,
                                       AUTH_CONFIG,
                                       MAX_LINES,
                                       NEEDS_SPLITTING,
                                       NEEDS_DECOMPOSITION,
                                       MAX_COUNT_PER_CHUNK,
                                       FORM_CONFIG,
                                       INPUT_PATH,
                                       NEEDS_PREVALIDATION,
                                       INPUT_TYPE,
                                       SHORT_DESCRIPTION,
                                       DELIMITER,
                                       DISPLAYED)
         VALUES (
                    (SELECT ID
                       FROM TSK_SCHEMA_REGISTRY
                      WHERE NAME = 'EXTRACT-PREIDENTIFICATION'),
                    'EXTRACT-PREIDENTIFICATION',
                    'extractPreidentification',
                    'extractPreidentification-bucket',
                    '{ "ADMIN": ["READ", "DELETE", "ADD", "UPDATE"], "USER": ["READ", "ADD"], "MODERATOR": ["READ", "UPDATE"], "GUEST": ["READ"] }',
                    0,
                    0,
                    0,
                    10,
                    '[]',
                    'extractPreidentification',
                    0,
                    '["FILE"]',
                    'extPreid',
                    'PIPE',
                    0);

--
 COMMIT;
--
END;
/

