-- changeset o.aragrag:20250626012

BEGIN

-------- DML TSK_TASK_TYPE -----

Insert into TSK_TASK_TYPE
   (TSK_SCHEMA_REGISTRY_ID, WORKFLOW_BUSINESS_KEY, PROCESS_BUSINESS_KEY, TASK_DESCRIPTION,
    BUCKET_NAME, SCHEDULE, AUTH_CONFIG, QUERY, MAX_LINES,
    NEEDS_SPLITTING, NEEDS_DECOMPOSITION, PROCESSING_TYPE, MAX_COUNT_PER_CHUNK, FORM_CONFIG,
    INPUT_PATH, NEEDS_PREVALIDATION, INPUT_TYPE, SHORT_DESCRIPTION, DELIMITER,
    DISPLAYED)
 Values
   ((select ID from TSK_SCHEMA_REGISTRY where NAME = 'IMSI_DISTRIBUTION'), NULL, 'IMSI_DISTRIBUTION', 'Distribution des IMSIs',
    'imsi-distribution-bucket', NULL, '{ "ADMIN": ["READ", "DELETE", "ADD", "UPDATE"], "USER": ["READ", "ADD"], "MODERATOR": ["READ", "UPDATE"], "GUEST": ["READ"] }', NULL, 0,
    0, 0, NULL, 10000, '[{"type":"text","label":"Numéro Début","id":"startSim","required":true,"prefix":{"initialValue":"60401"},"validation":{"pattern":"^\\d{10}$","errorMessage":"Numéro imsi de début invalide"},"row":1},{"type":"text","label":"Numéro Fin","id":"endSim","required":true,"prefix":{"initialValue":"60401"},"validation":{"pattern":"^\\d{10}$","errorMessage":"Numéro imsi de fin invalide"},"row":1},{"type":"select","label":"dealer Id","id":"dealerId","optionsEndpoint":{"url":"http://localhost:3000/billing-service/rest/CIL/7/LIST_DEALERS.READ"},"required":true,"row":1}]'||CHR(13)||CHR(10)||'',
    'imsi-distribution', 0, '["FORM"]', 'imsiDist', 'SEMICOLON',
    1);



-------- DML TSK_REASON ---------

Insert into TSK_REASON
   (CODE, DESCRIPTION)
 Values
   ('RS34', 'Un des champs a un format invalide');
Insert into TSK_REASON
   (CODE, DESCRIPTION)
 Values
   ('RS6', 'HLCODE/HMCODE doivent identifient respectivement le HLR physique/HLR logique correspondant au HLR cible');
Insert into TSK_REASON
   (CODE, DESCRIPTION)
 Values
   ('RS33', 'IMSI inexistant');

-------- DML TSK_STATUS ---------

Insert into TSK_STATUS
   (CODE, DESCRIPTION)
 Values
   ('ERROR', 'ERROR');
Insert into TSK_STATUS
   (CODE, DESCRIPTION)
 Values
   ('Created', 'La tâche a été créée mais pas encore démarrée');
Insert into TSK_STATUS
   (CODE, DESCRIPTION)
 Values
   ('InProgress', 'Les travaux sur la tâche ont commencé');

END;
/
