-- changeset o.aragrag:20250627014

DROP TABLE TASKMANAGER.TSK_TASK CASCADE CONSTRAINTS;

CREATE TABLE TASKMANAGER.TSK_TASK
(
  ID                 NUMBER GENERATED ALWAYS AS IDENTITY ( START WITH 1341 MAXVALUE 9999999999999999999999999999 MINVALUE 1 NOCYCLE CACHE 20 NOORDER NOKEEP NOSCALE) NOT NULL,
  TASK_TYPE_ID       NUMBER,
  STATUS             VARCHAR2(255 BYTE),
  SCHEDULE_DATE      TIMESTAMP(6),
  CREATED_BY         VARCHAR2(255 BYTE),
  PAYLOAD            CLOB,
  FORM_INPUT         CLOB,
  URL                CLOB,
  TASK_CONTEXT       CLOB,
  MODIFICATION_DATE  DATE,
  FILE_NAME          VARCHAR2(100 BYTE)
)
LOB (FORM_INPUT) STORE AS SECUREFILE (
  TABLESPACE  DATA
  ENABLE      STORAGE IN ROW
  CHUNK       8192
  NOCACHE
  LOGGING
      STORAGE    (
                  INITIAL          104K
                  NEXT             1M
                  MINEXTENTS       1
                  MAXEXTENTS       UNLIMITED
                  PCTINCREASE      0
                  BUFFER_POOL      DEFAULT
                 ))
LOB (PAYLOAD) STORE AS SECUREFILE (
  TABLESPACE  DATA
  ENABLE      STORAGE IN ROW
  CHUNK       8192
  NOCACHE
  LOGGING
      STORAGE    (
                  INITIAL          104K
                  NEXT             1M
                  MINEXTENTS       1
                  MAXEXTENTS       UNLIMITED
                  PCTINCREASE      0
                  BUFFER_POOL      DEFAULT
                 ))
LOB (TASK_CONTEXT) STORE AS SECUREFILE (
  TABLESPACE  DATA
  ENABLE      STORAGE IN ROW
  CHUNK       8192
  NOCACHE
  LOGGING
      STORAGE    (
                  INITIAL          104K
                  NEXT             1M
                  MINEXTENTS       1
                  MAXEXTENTS       UNLIMITED
                  PCTINCREASE      0
                  BUFFER_POOL      DEFAULT
                 ))
LOB (URL) STORE AS SECUREFILE (
  TABLESPACE  DATA
  ENABLE      STORAGE IN ROW
  CHUNK       8192
  NOCACHE
  LOGGING
      STORAGE    (
                  INITIAL          104K
                  NEXT             1M
                  MINEXTENTS       1
                  MAXEXTENTS       UNLIMITED
                  PCTINCREASE      0
                  BUFFER_POOL      DEFAULT
                 ))
TABLESPACE DATA
PCTUSED    0
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
NOLOGGING
NOCOMPRESS
NOCACHE;


ALTER TABLE TASKMANAGER.TSK_TASK ADD (
  PRIMARY KEY
  (ID)
  USING INDEX
    TABLESPACE DATA
    PCTFREE    10
    INITRANS   2
    MAXTRANS   255
    STORAGE    (
                INITIAL          64K
                NEXT             1M
                MINEXTENTS       1
                MAXEXTENTS       UNLIMITED
                PCTINCREASE      0
                BUFFER_POOL      DEFAULT
               )
  ENABLE VALIDATE);


CREATE OR REPLACE PUBLIC SYNONYM TSK_TASK FOR TASKMANAGER.TSK_TASK;

ALTER TABLE TASKMANAGER.TSK_TASK ADD (
  FOREIGN KEY (TASK_TYPE_ID)
  REFERENCES TASKMANAGER.TSK_TASK_TYPE (ID)
  ENABLE VALIDATE);

GRANT DELETE, INSERT, SELECT, UPDATE ON TASKMANAGER.TSK_TASK TO LIQUI_DML_ROLE;