DECLARE 

max_id NUMBER;
seq_start_with NUMBER;

BEGIN

execute immediate 'DROP SEQUENCE  TASKMANAGER.TSK_RAW_RECORD_SEQ';

select max(id) into max_id from TASKMANAGER.TSK_RAW_RECORD;
seq_start_with := max_id + 10;

execute immediate 'CREATE SEQUENCE  TASKMANAGER.TSK_RAW_RECORD_SEQ  MINVALUE 1 MAXVALUE 999999999999999999999999999 INCREMENT BY 1 START WITH ' || seq_start_with || ' CACHE 20 NOORDER  NOCYCLE  NOKEEP  NOSCALE  GLOBAL';

execute immediate 'GRANT SELECT ON TASKMANAGER.TSK_RAW_RECORD_SEQ TO LIQUI_DML_ROLE';

COMMIT;

END;
/